:root {
    --top-strip-bg-color: rgb(125, 125, 234);
    --top-strip-fg-color: rgb(233, 238, 199);
    --eu-color: rgb(105, 166, 67);
    --no-eu-color: rgb(153, 5, 5);

    --container-controls-bg-color:rgb(19, 102, 19);
    --container-controls-font-color:rgb(244, 247, 244);
    --container-controls-variable-color:rgb(197, 196, 247);

    --country-button-font-color: rgb(10, 5, 62);
    --country-button-background-color: rgb(238, 222, 200);
    --country-button-border-color: rgb(10, 5, 62);

    --input-font-color: rgb(10, 5, 62);
    --input-background-color: rgb(244, 236, 226);
    --input-border-color: rgb(10, 5, 62);
}

body {
    background-color: rgb(130, 230, 230);
}

.container {
    display: block;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--top-strip-bg-color);
}

.container-map {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(201, 203, 205);
}

.container-breadcrumbs {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.container-breadcrumbs ul {
    list-style-type: circle;
    padding: 0.5em;
    margin-left: 1em;
}

.container-breadcrumbs ul li {
    float: left;
    margin-right: 2em;
}

.container-controls {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--container-controls-bg-color);
    color: var(--container-controls-font-color)
}

.container-content {
    background-color: rgb(201, 203, 205);
    overflow: auto;
}

.container-footer {
    background-color: black;
    color: white;
}

ul.world-menu {
    list-style-type: none;
    padding: .2em;
    margin: .2em;
}

ul.world-menu>li {
    float: left;
    cursor: pointer;
}

ul.world-menu>li>h1 {
    line-height: 100%;
    font-size: 1.2rem;
    margin: 0 .2em;
}

ul.world-menu>li>span {
    margin: .2em;
    font-size: 1rem;
    line-height: 100%;
    display: inline-block;
}

ul.world-menu>li>span.text-label {
    margin-left: .6em;
}

ul.world-menu>li>span.text-value {
    color: var(--container-controls-variable-color)
}

ul.world-menu>li>label{
    line-height: 100%;
    font-size: 1rem;
    margin: .2em;
}
ul.world-menu>li>button {
    width: 8em;
    height: 1.6em;
    margin-left: .2em;
    border-radius: .4em;
}

ul.world-menu>li>button,
ul.world-menu>li>select,
ul.world-menu>li>input {
    color: var(--input-font-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    font-size: .8rem;
    border-radius: .4em;
}

ul.world-menu>li>input[type=text] {
    height: 1.2rem;
    margin: 0 .2em;
    line-height: 100%;
}

ul.world-menu>li>input[type=checkbox] {
    line-height: 100%;
    margin: .2em;
}

.selected {
    color: rgb(2, 7, 29);
    background-color: rgb(33, 106, 117);
    border: 1px solid white;
}

ul.country-buttons {
    list-style-type: none;
}

ul.country-buttons>li {
    float: left;
    margin-left: 1em;
    margin-top: .6em;
}

.country-button {
    display: block;
    float: left;
    height: 1.8em;
    width: 16em;
    background-color: var(--country-button-background-color);
    color: var(--country-button-font-color);
    border: 1px solid var(--country-button-border-color);
    border-radius: .9em;
}

.country-button-flag {
    display: block;
    float: left;
    height: 100%;
    width: 2.4em;
    text-align: center;
    font-size: 1rem;
}

.country-button-name {
    display: block;
    float: left;
    height: auto;
    width: auto;
    text-align: left;
    font-size: .8rem;
    padding: .4rem 0;
}