body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

input,
button {
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: bold;
    margin-bottom: .2em;
    display: block;
    color: #333333;
    text-align: right;
}

input {
    padding: .1em .2em;
    border: 1px solid #8ab5d0;
    border-radius: .24em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.card {
    background-color: #ffffff;
    border-radius: .6em;
    box-shadow: 0 .4em .8em rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

.card-header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

.card-description {
    font-size: 1em;
    color: #666666;
    margin-top: .4em;
    font-style: normal;
    font-weight: lighter;
}
