/* TOP PANEL */

.top-panel {
  height: 4em;
  background-color: var(--top-background-color);
  color: var(--top-text-color);
}

.top-panel-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.top-panel-item {
  display: flex;
  flex-shrink: 0;
  flex-basis: 4em;
  height: 2em;
  flex-direction: column;
  justify-content: middle;
}

.top-panel-1 {
  flex-grow: 1;
}

.save-countries-button {
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 0;
}

.top-panel-2 {
  flex-grow: 1;
}

.show-enabled-dropdown {
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 0;
}

.top-panel-3 {
  flex-grow: 10;
}

.continent-list {
  list-style-type: none;
}

.continent-list-item {
  float: left;
  width: 8em;
  height: 2em;
  padding-top: .4em;
}

.countries-bg {
  background-color: cadetblue;
}

.country-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 0;
}

.country-cell-selected {
  background-color: rgb(143, 238, 143);
}

.country-heading-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-heading {
  width: 100%;
  height: 100%;
  background-color: var(--top-background-color);
  color: var(--top-text-color);
  font-size: 1.6rem;
}

.country-flag-data {
  width: 100%;
  height: 100%;
  line-height: .9;
  text-align: center;
}

.country-flag {
  width: 100%;
  height: 100%;
  background-color: black;
  color: var(--top-text-color);
  font-size: 5rem;
}

.country-description-data,
.country-map-data {
  width: 100%;
  height: 100%;
}

.country-description,
.country-map {
  width: 100%;
  height: 100%;
}

.country-detils-table th {
  text-align: right;
}

.country-detils-table td {
  text-align: left;
}