:root {
    --top-strip-bg-color: rgb(5, 5, 95);
    --top-strip-fg-color: rgb(233, 238, 199);
    --eu-color: rgb(105, 166, 67);
    --no-eu-color: rgb(153, 5, 5);
}

body {
    background-color: rgb(18, 35, 35);
}

.top-strip-left {
    text-align: left;
    height: 100%;
    color: var(--top-strip-fg-color);
    background-color: var(--top-strip-bg-color)
}

.top-strip-right {
    text-align: right;
    height: 100%;
    color: var(--top-strip-fg-color);
    background-color: var(--top-strip-bg-color)
}

.top-strip-right>.top-menu-list {
    float: right;
}

.top-strip-button {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 0;
}


/* TOP PANEL */

.top-panel {
    height: 4em;
    background-color: var(--top-background-color);
    color: var(--top-text-color);
}

.top-panel-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.top-panel-item {
    display: flex;
    flex-shrink: 0;
    flex-basis: 4em;
    height: 2em;
    flex-direction: column;
    justify-content: middle;
}

.top-panel-1 {
    flex-grow: 1;
}

.save-countries-button {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 0;
}

.top-panel-2 {
    flex-grow: 1;
}

.top-menu-list {
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-menu-item {
    display: block;
    float: left;
    width: auto;
    height: 2em;
    padding-top: .2em;
    padding-right: .4em;
}


.show-enabled-dropdown {
    margin: auto;
    width: 80%;
    border: 1px solid black;
    padding: 0;
}

.top-panel-3 {
    flex-grow: 1;
}



.is-eu {
    color: var(--eu-color);
    font-weight: bold;
}

.no-eu {
    color: var(--no-eu-color);
    font-weight: bold;
}

.continent-list {
    list-style-type: none;
}

.continent-list-item {
    display: block;
    float: left;
    width: 8em;
    height: 2em;
    padding-top: .4em;
}

.countries-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countries-bg {
    background-color: cadetblue;
}

.country-row-grid {
    display: grid;
    justify-content: center;
    gap: 1px;
}

.country-cell-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: navy;
    padding: 0;
}

.country-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 0;
}

.country-cell-enabled {
    background-color: rgb(143, 238, 143);
}

.country-heading {
    width: 100%;
    height: 100%;
    background-color: var(--top-background-color);
    color: var(--top-text-color);
    font-size: 1.6rem;
}

.country-heading-position {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-flag {
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--top-text-color);
    font-size: 5rem;
}

.country-flag-position {
    width: 100%;
    height: 100%;
    line-height: .9;
    text-align: center;
}

.country-description-data,
.country-map-data {
    width: 100%;
    height: 100%;
}

.country-description,
.country-map {
    width: 100%;
    height: 100%;
}

.country-details {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 5;
    justify-self: stretch;

    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.country-details-table {
    margin-top: 1em;
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 10em 10em;
    grid-template-rows: repeat(12, 1.6em);
}

.country-details-label {
    color: white;
    padding-left: 1em;
    font-weight: bold;
}

.country-details-data {
    color: white;
    padding-left: 1em;
    font-weight: normal;
}

.country-edit-button {
    display: block;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(227, 225, 225);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .2em;
    font-size: .8rem;
    padding: .1em;
    margin: 0;
}

.country-cities {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.city-heading {
    display: block;
    margin-top: .4em;
    margin-bottom: .4em;
    width: 100%;
    height: 1em;
    font-size: large;
    font-weight: bold;
}

.city-list {
    display: block;
    margin-top: .4em;
    margin-bottom: .4em;
    width: 100%;
    height: auto;
}

.city-list>li {
    display: block;
    margin-top: .2em;
    margin-bottom: .2em;
    width: 100%;
    height: 1.2em;
}

.city-list>li:hover {
    background-color: navy;
}


.select-continents-dropdown {
    display: block;
}