body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

input,
button {
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: bold;
    margin-bottom: .2em;
    display: block;
    color: #333333;
    text-align: right;
}

input {
    padding: .1em .2em;
    border: 1px solid #8ab5d0;
    border-radius: .24em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.card {
    background-color: #ffffff;
    border-radius: .6em;
    box-shadow: 0 .4em .8em rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

.card-header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

.card-description {
    font-size: 1em;
    color: #666666;
    margin-top: .4em;
    font-style: normal;
    font-weight: lighter;
}

.card-content {}

.login-form {}

.input-grid-login {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0;
    padding-bottom: .6em;
    border-bottom: 1px solid #e0e0e0;
}

.input-grid-reset {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: .4em;
    padding-bottom: 2em;
    margin-top: .8em;
    border-bottom: 1px solid #e0e0e0;
}

.input-grid-box {
    display: block;
    height: 100%;
    width: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 3 / 5;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 5;
}

.div5 {
    grid-area: 3 / 2 / 3 / 5;
}

.div6 {
    grid-area: 4 / 2 / 5 / 4;
}

.div7 {
    grid-area: 1 / 2 / 2 / 4;
}

.div8 {
    grid-area: 2 / 2 / 3 / 4;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    align-self: center;
    justify-self: start;
    padding-top: 0.5em;
}
.login-error {}

.login-button {}

.login-message {}

.login-link {}

.parent {}

.login-button{
    background-color: #19a81d;
}

.cancel-button{
    background-color: #507298;
}

.button {
    /* background-color: lightgray; */
    color: white;
    border: none;
    padding: .2em 1em;
    border-radius: .28em;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}